decorator==4.0.9
Flask==0.10.1
Flask-Cache==0.13.1
Flask-SQLAlchemy==2.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pbr==1.8.1
pickleDB==0.6.2
praw==3.4.0
psycopg2==2.6.1
requests==2.9.1
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
update-checker==0.11
Werkzeug==0.11.4
