
/*
Our colors:

Our dark blue is: #426baa

*/

    body {
      background: black;
    }

    #graph_body {
        background: black;
    }

    #mynetwork {
      background-color:black;
      top:0;
      position: absolute;
      z-index: -1;
    }
    #infocontainer {
      width: 200px;
      height: 160px;
      top: 0;
      position: absolute;
      background-color: #252525;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      color: white;
      border-radius: 5%;
      overflow: hidden;
    }
    #myplayer {
      position:absolute;
      width:356px;
      height:200px;
      margin-left:-178px;
      bottom:0px;
      left:50%;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }


    #random_mashup {
        position: absolute;
        right: 15px;
        bottom: 180px;
    }

    #random_mashup_button {
        background-color: #426baa;
        /*width: 34px;
        height: 34px;*/
    }

    #random_label {
      position: absolute;
      left:50%;
      margin-left:-245px;
      bottom: 0.3%;
      color: white;
      font-size: 15px;
      text-align: center;
    }
    .myheader {
      background-color: black;
      color: white;
      text-align: center;
      font-size: 32px;
    }
    #loadingscreen {
      width: 100vw;
      height: 100vh;
      background-color: black;
      text-align: center;
    }


    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }
    .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
    }


    #artist_input {
      width: 80%;
      /*position: absolute;
      right: 1%;
      top: 12%;*/
    }


    #submit_artist_div {
      position: absolute;
      right: 1.5%;
      top: 18%;
    }

    #no_artist_error {
      color: red;
      font-size: 2em;
      position: absolute;
      top: 15%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

    }
    .footer {
        color: #777;
    }
    div.vis-network div.vis-navigation div.vis-button div {
        color: #fff;
    }
    .navigation-button {
        /*Copied from div.vis-network div.vis-navigation div.vis-button div */
        width: 34px;
        height: 34px;
        /*-moz-border-radius: 17px;*/
        /*border-radius: 17px;*/
        position: absolute;
        /*display: inline-block;
        background-position: 2px 2px;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;*/
        color: #fff;
        /*This is our default blue color!*/
        background-color: #426baa;
        opacity: 100%;
    }

    .navigation-button-up {
        bottom: 130px;
        right: 55px;
    }
    .navigation-button-right {
        bottom: 90px;
        right: 15px;
    }
    .navigation-button-left {
        bottom: 90px;
        right: 95px;
    }
    .navigation-button-down {
        bottom: 50px;
        right: 55px;
    }
    .navigation-button-zoomIn {
        bottom: 10px; /* 10px + 2 * 34px + 2px (padding) */
        right: 15px;
    }
    .navigation-button-zoomOut {
        bottom: 10px;
        right: 95px;
    }
    .navigation-button-zoomExtends {
        bottom: 10px; /* 50px + 2 * 34px + 2px (padding) */
        right: 55px;
    }
