<!doctype html>
<html>
<head>
  <title>Network | Circular images</title>

  <style type="text/css">
    #mynetwork {
      width: 80%;
      height: 80vh;
      border: 1px solid lightgray;
      background-color:#333333;
    }
  </style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    var nodes = null;
    var edges = null;
    var songs = null;
    var network = null;

    function request_graph() {
      $.get("/graph", function(data) {
        nodes = data.nodes;
        edges = data.edges;
        songs = data.songs;
        draw();
      })
    }
    // Called when the Visualization API is loaded.
    function draw() {
      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          borderWidth:4,
          size:40,
          color: {
            border: '#222222',
            background: '#666666'
          },
          font:{color:'#eeeeee'}
        },
        edges: {
          color: 'lightgray',
          smooth:{type:'continuous'}
        },
        physics: { stabilization: false }
      };
      network = new vis.Network(container, data, options);
      network.on("selectEdge", function (params) {
        var selectedSong = songs[params.edges[0]];
        $('#playsong').html(selectedSong.embed);
        $('#redditlink').attr("href", selectedSong.redditurl);
        $('#author').html(selectedSong.author);
      });
      $(window).on('resize', function(){
        network.redraw();
      });
    }

  </script>
</head>

<body onload="request_graph()">

<div class="container">
  <div class="page-header">
    <h1>The Mashup Map <small>a visualization of r/mashup</small></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <center><div id="mynetwork"></div></center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <div id="playsong" class="embed-responsive embed-responsive-16by9"></div>
      </div>
      <div class="row">
        <b>Author: </b><div id="author"></div>
      </div>
      <div class="row">
        <a id="redditlink" href="" target="_blank">View on Reddit</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>

