{% extends "base/header.html" %}

{% block body_block %}
<div id="graph_body" style="background: black;">

<!--
  <div>
    <div class="jawn myloader"></div>
    <h3 style="color:black; text-align: center" class="myloader">Loading...</h3>
  </div> -->
  <div id="mynetwork" hidden></div>


  <div>
    <p id="no_artist_error" hidden>Sorry, no mashups from this artist.</p>
  </div>

  <div id="infocontainer" hidden>
      {# <a href="#" title="Play video" class="play"></a> #}
      <center>
     <b>Author: </b><div id="author"></div>
      <a id="redditlink" href="" target="_blank">View on Reddit</a>
      </center>
  </div>

  <div id="myplayer">
    <div id="playsong" class="embed-responsive embed-responsive-16by9"></div>
  </div>

  </div>
</body>
</html>

{% endblock %}
