<!doctype html>
<html>
<head>
  <title>Mashup Map</title>

  <style type="text/css">
    body {
      background: black;
    }
    #mynetwork {
      background-color:black;
      top:0;
      position: absolute;
      z-index: -1;
    }
    #infocontainer {
      width: 200px;
      height: 160px;
      top: 0;
      position: absolute;
      background-color: #252525;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      color: white;
      border-radius: 5%;
      overflow: hidden;
    }
    #myplayer {
      position:absolute;
      width:356px;
      height:200px;
      margin-left:-178px;
      bottom:0px;
      left:50%;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
    .myheader {
      background-color: black;
      color: white;
      text-align: center;
      font-size: 32px;
    }
    #loadingscreen {
      width: 100vw;
      height: 100vh;
      background-color: black;
      text-align: center;
    }

  </style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/stylesheets/animate.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/loading-animation.css" rel="stylesheet" type="text/css">
  <link href="/static/stylesheets/playbutton.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    var nodes = null;
    var edges = null;
    var songs = null;
    var network = null;
    var current_song = null;

    var showingImages=false;
    var nodeOptions = {
            shape: "circularImage",
            borderWidth:4,
            size:25,
            mass: 2,
            color: {
              border: '#222222',
            },
            font:{color:'#eeeeee'},
            icon: {
              code: '\u2022'
            }
          };

    function start() {
      request_graph();
      $.fn.extend({
        animateCss: function (animationName) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            $(this).addClass('animated ' + animationName).one(animationEnd, function() {
                $(this).removeClass('animated ' + animationName);
            });
        }
      });
      var icon = $('.play');
      icon.click(function() {
         icon.toggleClass('active');
         return false;
      });
      $(window).bind("resize", function(){
        cv_resize();
      });
    }

    function play_song() {
      $("#playsong").html(current_song);
    }
    function request_graph() {
      $.get("/graph").done(function(data) {
        console.log("terminou");
        nodes = data.nodes;
        edges = data.edges;
        songs = data.songs;
        draw();
        $(".myloader").hide();
        $(".myheader").css("background-color", "transparent");
      });
    }

    function cv_resize() {
        var w = $(window).width();
        var h = $(window).height();
        var network = $("#mynetwork");
        network.css("width", w + "px");
        network.css("height", h + "px");
    }

    function move_info_div(x, y) {
      var infodiv = $("#infocontainer");
      infodiv.show();
      infodiv.css("left", x + "px");
      infodiv.css("top", (y - 150) + "px");
      $('#infocontainer').animateCss('bounceIn');
      $('#mysubheader').hide();
    }
    // Called when the Visualization API is loaded.
    function draw() {
      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        layout: {
          improvedLayout:false
        },
        width: '100%',
        nodes: nodeOptions,
        edges: {
          width: 1,
          color: 'lightgray',
          smooth: false,
          hoverWidth: 5
        },
        physics: {
          // enabled: false,
          stabilization: false,
          repulsion: {
            springLength: 300,
            springConstant: 0.01
          }
          // stabilization.iterations: 200,
        },
        interaction: {
          hover:true,
          tooltipDelay: 100,
          hideEdgesOnDrag: true,
          navigationButtons: true
        }
      };
      network = new vis.Network(container, data, options);
      network.on("selectEdge", function (params) {
        var selectedSong = songs[params.edges[0]];
        current_song = selectedSong.embed;
        $('#redditlink').attr("href", selectedSong.redditurl);
        $('#author').html(selectedSong.author);
        move_info_div(params.pointer.DOM.x, params.pointer.DOM.y);
      });
      network.on("zoom", function(params) {
        if (showingImages == true && params.scale < 0.7) {
          showingImages = false;
          nodeOptions.shape = "icon";
          network.setOptions({nodes:nodeOptions});
        }
        else if (showingImages == false && params.scale > 0.7) {
          showingImages = true;
          nodeOptions.shape = "circularImage";
          network.setOptions({nodes:nodeOptions});
        }
      });

      cv_resize();
      $("#mynetwork").show();

    }

  </script>
</head>

<body onload="start()">
  <div id="myheader" class="myheader">The Mashup Map <small>a visualization of r/mashup</small></div>
  <div id="mysubheader" class="myheader"> <small>Click a connection to see the mashup between those artists</small></div>
  <br><br>
  <div class="jawn myloader"></div>
  <h3 style="color:black; text-align: center" class="myloader">Loading...</h3>

  <div id="mynetwork" hidden></div>

  <div id="infocontainer" hidden>
      {# <a href="#" title="Play video" class="play"></a> #}
      <center>
      <br>
      <div class="play-button" onclick="play_song()"></div>
      <br>
      <b>Author: </b><div id="author"></div>
      <a id="redditlink" href="" target="_blank">View on Reddit</a>
      </center>
  </div>

  <div id="myplayer">
    <div id="playsong" class="embed-responsive embed-responsive-16by9"></div>
  </div>
</body>
</html>

