<div class="mm-playlist" id="playlist-div">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{playlist.name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Created By - {{playlist.ownerprof.user.login}}</div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        {% for song in playlist.songs %}
                        <li class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="{{song.artists[0].imageURL}}" height="64" width="64"></a>
                            <div class="media-body">
                                <h4 class="media-heading">{{song.clean_title}}</h4>
                                <p> {% for artist in song.artists %} {{artist.name}}, {%endfor%}</p>
                                <p><a href="{{song.url}}" target="_blank">View Source.</a></p>
                                <div class="row">
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-success" type="submit" form="{{playlist.id}}-{{song.id}}">
                                            <i class="glyphicon glyphicon-play"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-danger delete-favorite" id="del-{{playlist.id}}-{{song.id}}" onclick="delete_favorite(this)">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
