{% extends "base/header.html" %}
{% block nav %}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

        <a class="pure-menu-heading" href="/">MashupMap</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
            </li>
            <li class="pure-menu-item pure-menu"><a href="/" class="pure-menu-link">Home</a></li>
            <!-- <li class="pure-menu-item"><a href="/full" class="pure-menu-link" id="full_map_link">Full Map</a></li> -->
            <li class="pure-menu-item"><a href="/full" class="pure-menu-link" id="favorites_link">Favorites</a></li>
            {% if current_user.is_authenticated %}
                <li class="pure-menu-item" ><a href="/user/logout" class="pure-menu-link">Logout ({{ current_user.login }})</a></li>
            {% else %}
                <li class="pure-menu-item" id="Signup"><a class="pure-menu-link">Sign up</a></li>
                <li class="pure-menu-item" id="Login"><a class="pure-menu-link">Log in</a></li>
            {% endif %}
            <li class="pure-menu-item input-group" id="artist_form">
                <input type="text" class="form-control" id="artist_input" placeholder="Search artist"></input>
                <button type="submit" class="btn btn-primary" id="search_artist_button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </li>

        </ul>
    </div>
</div>
{%endblock%}
{%block logins%}
<div id="loginform" class="small_form" hidden>
    <div class="arrow-up"></div>
    <p class="text-center">Log in
        </>
        <div class="login-form">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="col-md-12 text-center">
                {% for category, message in messages %}
                {% if category == "login" %}
                  <p id="login_error" class="text-danger error-message validation-error"> {{message}} </p>
                {% endif %}
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form action="/user/login" method="post">
                {{ login_form.login_login(class="form-control") }}
                </br>
                {{ login_form.password_login(class="form-control") }} {{ login_form.csrf_token }}
                </br>
                <p>
                    <input type=submit class="btn btn-primary  col-sm-6" value="log in">
                    <input type=button id="login_cancel" class="btn btn-primary col-sm-6" value="cancel">
                </p>
            </form>
        </div>
</div>

<div id="signupform" class="small_form" hidden>
    <div class="arrow-up"></div>
    <p class="text-center">Sign up
        </>
        <div class="login-form">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="col-md-12 text-center">
                {% for category, message in messages %}
                {% if category == "register" %}
                  <p id="register_error" class="text-danger error-message validation-error"> {{message}} </p>
                {% endif %}
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form action="/user/register" method="post">
                {{ signup_form.login_register(class="form-control") }}
                </br>
                {{ signup_form.email_register(class="form-control") }}
                </br>
                {{ signup_form.password_register(class="form-control") }}
                </br>
                {{ signup_form.password_confirmation_register(class="form-control") }} {{ signup_form.csrf_token }}
                </br>
                <p>
                    <input type=submit class="btn btn-primary  col-sm-6" value="Register">
                    <input type=button id="singup_cancel" class="btn btn-primary  col-sm-6" value="cancel">
                </p>
            </form>
        </div>
</div>
{%endblock%}
